<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feiyongjing.wxshop.mapper.MyOrderMapper">
    <insert id="insertOrders" parameterType="com.feiyongjing.wxshop.api.data.OrderInfo">
        insert into `ORDER_GOODS` (GOODS_ID, ORDER_ID, NUMBER)
        VALUES
        <foreach item="item" collection="goods">
            (#{item.id},#{orderId},#{item.number})
        </foreach>
    </insert>
    <select id="getGoodsInfoOfOrder" parameterType="Map" resultType="com.feiyongjing.wxshop.api.data.GoodsInfo">
        select GOODS_ID as id, NUMBER as number
        from `ORDER_GOODS`
        WHERE ORDER_ID = #{orderId}
    </select>
</mapper>